
<h1>
    <%= producto.name %>
</h1>
<h3>Price:
    <span>$
        <%= producto.price %>
    </span>
</h3>
<p>
    <%= producto.description %>
</p>
    </br>

    <form action="/cart/addProduct" method="post">
        <input type="text" hidden value="<%= producto._id %>" name="productid">
        <input type="text" hidden value="<%= userid %>" name="userid">

    <button>Add Product</button>
    </form>